<div class="d-flex h-100">
  <aside class="d-flex flex-column align-items-center p-3 h-100" id="sidebar">
    <LinkTo @route="index">Home</LinkTo>
    <LinkTo @route="dogs">Dogs</LinkTo>
  </aside>

  <main class="mt-5 container h-100">
    {{outlet}}
  </main>
</div>